.billboard {
	@include bgcover();
	@include flexbox;
	@include align-items(center);
	@include justify-content(center);
	padding: 0;
	text-align: center;
	&.billboard-full-height {
		min-height: 100vh;
	}
	& > div {
		padding: 100px 0;
	}
	* {
		color: #fff;
	}
	h1, h2, h3, h4, h5, h6 {
		&:last-child {
			margin-bottom: 0;
		}
	}
	h1,
	.content {
		font-family: $heading-font-family-alt;
		font-size: 24px;
		line-height: 1.3;
		letter-spacing: .1em;
		@include tablet {
			font-size: 48px;
		}
}
	h1 {
		font-weight: 700;
		margin: 0;
		& + .content {
			font-size: 20px;
			@include tablet {
				font-size: 40px;
			}
		}
	}
	.content {
	}
	.btns {
		margin: 50px 0 0;
		.btn {
			border: 2px solid #fff;
			color: #fff;
			background: transparent;
			@include hover {
				background: $secondary-color;
			}
		}
	}
}
