.wpcf7,
.custom-form {
	div.wpcf7-response-output {
		margin: 30px 0 0;
		padding: 1.5em 1em 1.4em;
	}

	/** Theme Specific **/
	@include clearfix;
	p + & {
		margin: 45px 0 0;
	}
	p {
		margin: 0 0 2em;
	}
	input,
	textarea {
		border: none;
		border-bottom: 1px solid $primary-color;
		outline: 0;
		font-family: $body-font-family;
		font-size: 15px;
		width: 100%;
		@include placeholder {
			color: $primary-color;
		}
		&:focus {
			outline: 0;
		}
	}
	textarea {
		border: 1px solid $primary-color;
		padding: 5px 10px;
	}
	label {
		text-align: left;
		color: $primary-color;
		font-weight: 300;
		display: block;
	}
	.wpcf7-form-control-wrap {
		span {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	div.wpcf7-response-output {
		margin: 0;
	}
	.border-content .content &:last-child {
		position: relative;
		.btns {
			position: absolute;
			bottom: -37px;
			width: 100%;
			margin: 0;
			.ajax-loader {
				display: none;
			}
			@include desktop {
				bottom: -95px;
			}
		}
	}

	#loginform {
		.login-username,
		.login-password {
			label {
				display: none;
			}
		}
		.login-remember {
			text-align: center;
			margin: 0;
			label {
				display: inline-block;
			}
		}
	}
	.form-messages {
		color: #f00;
		text-align: center;
		p {
			margin: 1em 0 0;
		}
	}
	input[type=checkbox] {
		display: inline-block;
		width: auto;
	}
}