#main-container {
	padding-top: 150px;
	.has-billboard & {
		padding-top: 0;
	}
}

.content {
	img {
		max-width: 100%;
		height: auto;
	}
	ul, ol {
		padding-left: 20px;
	}
	ul {
		li {
			list-style-type: disc;
		}
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
}

.nicdao-columns {
	& + & {
		@include tablet {
			margin-top: 30px;
		}
	}
	.col.hide-col-num {
		.col-number {
			display: none;
		}
	}
	.col-number {
		font-size: 48px;
		font-family: $heading-font-family;
		color: $primary-color;
		line-height: 1.4;
		& + .col-title {
			margin-top: 0;
			font-size: 18px;
			&:after {
				width: 40px;
				left: 50%;
				margin-left: -20px;
			}
		}
	}
	.col-title {
		position: relative;
		margin-bottom: 50px;
		color: $primary-color;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background: $primary-color;
			bottom: -25px;
			left: 0;
		}
	}
}

.content-embedded_video {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	iframe {
		position:absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
