@font-face {
  font-family: 'icomoon';
  src:  url('../0_fonts/icomoon/icomoon.eot?69c67y');
  src:  url('../0_fonts/icomoon/icomoon.eot?69c67y#iefix') format('embedded-opentype'),
    		url('../0_fonts/icomoon/icomoon.ttf?69c67y') format('truetype'),
    		url('../0_fonts/icomoon/icomoon.woff?69c67y') format('woff'),
    		url('../0_fonts/icomoon/icomoon.svg?69c67y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-plus:before {
  content: "\e904";
}
.icomoon-x:before {
  content: "\e903";
}

@font-face {
	font-family: 'Avenir';
	font-weight: 300;
	src: url("../0_fonts/avenir/Avenir-Light-07.ttf") format("truetype");
}

@font-face {
	font-family: 'Avenir';
	font-weight: 300;
	font-style: italic;
	src: url("../0_fonts/avenir/Avenir-LightOblique-08.ttf") format("truetype");
}

@font-face {
	font-family: 'Avenir';
	font-weight: 700;
	src: url("../0_fonts/avenir/Avenir-Heavy-05.ttf") format("truetype");
}

@font-face {
	font-family: 'Avenir';
	font-weight: 700;
	font-style: italic;
	src: url("../0_fonts/avenir/Avenir-HeavyOblique-06.ttf") format("truetype");
}

@font-face {
	font-family: 'Majesti Banner';
	font-weight: 500;
	src: url('../0_fonts/webfontkit/majesti-banner-medium-webfont.woff2') format('woff2'),
       url('../0_fonts/webfontkit/majesti-banner-medium-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Majesti Banner';
	font-weight: 700;
	src: url('../0_fonts/webfontkit/majesti-banner-bold-webfont.woff2') format('woff2'),
       url('../0_fonts/webfontkit/majesti-banner-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Majesti Banner';
	font-weight: 700;
	font-style: italic;
	src: url('../0_fonts/webfontkit/majesti-banner-bolditalic-webfont.woff2') format('woff2'),
       url('../0_fonts/webfontkit/majesti-banner-bolditalic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Novecentowide';
	font-weight: 300;
	src: url('../0_fonts/webfontkit/novecentowide-light-webfont.woff2') format('woff2'),
       url('../0_fonts/webfontkit/novecentowide-light-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Novecentowide';
	font-weight: 400;
	src: url('../0_fonts/webfontkit/novecentowide-book-webfont.woff2') format('woff2'),
       url('../0_fonts/webfontkit/novecentowide-book-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Novecentowide';
	font-weight: 500;
	src: url('../0_fonts/webfontkit/novecentowide-medium-webfont.woff2') format('woff2'),
       url('../0_fonts/webfontkit/novecentowide-medium-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Novecentowide';
	font-weight: 700;
	src: url('../0_fonts/webfontkit/novecentowide-bold-webfont.woff2') format('woff2'),
       url('../0_fonts/webfontkit/novecentowide-bold-webfont.woff') format('woff');
}


