#footer {
	position: relative;
  background: $primary-color;
  color: #fff;
  min-height: 190px;
  padding: 30px 0;
  .svg-logo {
  	width: 200px;
  }
  .social-links {
  	@include mobile-only {
  		position: relative;
  		top: 0;
  		left: 0;
  		@include flex-direction(row);
  		li {
  			padding: 5px;
  		}
  	}
  	a {
	  	color: #fff;
	  }
  }
  a {
  	color: #fff;
  }
  .attribution {
  	font-size: .7em;
  }
}

#footer-menu {
	height: 100%;
	margin: 0;
	padding: 30px;
	font-size: 20px;
	@include flexbox;	
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
	@include tablet {
		position: absolute;
		top: 0;
		right: 0;
	}
	.btn {
		font-size: 14px;
	}
	li {
		padding: 5px 0;
		width: 100%;
		a {
			width: 100%;
		}
	}
}
