.sn-inline-editor {
  position: relative;
  display: inline-block;
  &.active {
    .content-published {
      display: none;
    }
    form {
      display: block;
    }
    &.preview {
      .content-published {
        display: block;
      }
      form .wp-editor-wrap,
      form .sn-inline-field {
        display: none;
      }
      .btn-preview {
        display: none;
      }
      .btn-editor {
        display: inline-block;
      }
    }
  }
  &:hover {
    &.active {
      .fa-edit {
        display: none;
      }
    }
    .fa-edit {
      display: block;
    }
  }
  .fa-edit {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    display: none;
    font-size: 24px;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  form {
    display: none;
    .action-bar {
      margin-top: 20px;
    }
  }
  .btn-editor {
    display: none;
  }
}