@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform rotate(0.01deg);
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin bgcover() {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin bgzoom() {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 105% auto, auto auto;
  @include transition(background-size 0.3s ease 0s);
  &:hover {
    background-size: 100% auto, auto auto;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
  &:-moz-placeholder { @content }
}

@mixin columns($columns) {
  -webkit-columns: $columns; /* Chrome, Safari, Opera */
    -moz-columns: $columns; /* Firefox */
    columns: $columns;
}

@mixin column-rule($rule) {
  -webkit-column-rule: $rule;
     -moz-column-rule: $rule;
          column-rule: $rule;
}

@mixin column-gap($gap) {
  -webkit-column-gap: $gap;
     -moz-column-gap: $gap;
          column-gap: $gap;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin hover {
  &:hover, &:active, &:focus {
    @content;
  }
}

@mixin mobile-only {
 @media (max-width: (#{$screen-sm-min - 1})) {
   @content;
 }
}

@mixin tablet {
 @media (min-width: #{$screen-sm-min}) {
   @content;
 }
}

@mixin desktop {
 @media (min-width: #{$screen-md-min}) {
   @content;
 }
}

@mixin large {
 @media (min-width: #{$screen-lg-min}) {
   @content;
 }
}
