#modal {
	// display: none;
	background: transparentize(#ccc, 50%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 30px;
	z-index: 9999;
	overflow-y: auto;
	display: none;
	.modal-in & {
		display: block;
		@include desktop {
			@include flexbox;
			@include justify-content(center);
			@include align-items(center);
		}
	}
	& > div {
		position: relative;
		background: #fff;
		padding: 30px;
		max-width: 675px;
		& > div {
			position: relative;
			border: 2px solid $primary-color;
			padding: 30px;
		}
		@include desktop {
			padding: 80px 70px;
			& > div {
				padding: 70px;
			}
		}
	}
	h3 {
		position: relative;
		left: 0;
		text-align: center;
		width: 100%;
    margin: -43px 0 15px;
		margin: -41px 0 15px;
		@include mobile-only {
	    font-size: 1.4em;
	  }
    @include tablet {
    	margin: -83px 0 50px;
    }
 		span {
			background: #fff;
	    box-shadow: 20px 0 0 #fff, -20px 0 0 #fff;
		}
	}
	.content {
		max-height: 300px;
		overflow-y: auto;
	}
	form .btns ,
	.cta {
		position: absolute;
		bottom: -23px;
		left: 0;
		width: 100%;
		text-align: center;
		display: none;
	}
	form .btns,
	&.has-cta .cta {
		display: block;
	}
	.modal-close {
		position: absolute;
		right: 0px;
		top: 0px;
		font-size: 26px;
		width: 30px;
		height: 30px;
		color: $primary-color;
		i {
			line-height: 30px;
		}
		@include desktop {
			right: 25px;
			top: 25px;
		}
		@include hover {
			text-decoration: none;
			color: $secondary-color;
		}
	}
}
