#header {
	position: fixed;
	width: 100%;
	z-index: 99;
	@include transition(background .3s ease);
	background: #fff;
	.has-billboard & {
		background: transparentize(#b2b2b2, 50%);
	}
	.has-billboard.nav-open:not(.scrolling) & {
		background: transparentize(#b2b2b2, 10%);
	}
}

.svg-logo {
	@include transition(all .3s ease);
	.logo-fill {
		@include transition(all .3s ease);
		opacity: 1;
		fill: $primary-color;
		.has-billboard:not(.scrolling) &,
		#footer & {
			fill: #fff;
		}
		.scrolling #header & {
			opacity: 0;
			&.logo-icon {
				opacity: 1;
			}
		}
	}
	@include hover {
		.logo-fill {
			.has-billboard:not(.scrolling) #header & {
				fill: $primary-color;
			}
		}
	}
	#header & {
		height: 80px;
		margin: 0 auto;
    display: block;
		@include large {
			height: 90px;
		}
	}
}

.navbar {
	margin: 0;
	border: none;
	@include flex-wrap(wrap);
	@include justify-content(center);
	@include transition(padding .3s ease);
	@include desktop {
		padding: 20px 0;
	}
	@include large {
		padding: 20px 0;
	}
	.navbar-brand {
		margin: 0;
	}
}



.navbar-collapse {
	@include justify-content(center);
}

.navbar-toggler {
  padding: .35rem .75rem .25em;
  &:focus {
		outline: none;
  }
  .has-billboard:not(.scrolling) & {
  	border: 1px solid #fff;
  	color: #fff;
  }
}

.navbar-nav {
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 5px;
	@include transition(all .3s ease);
	@include desktop {
		@include justify-content(center);
		margin-top: -21px;
	}
	body:not(.scrolling) & {
		@include large {
			font-size: 16px;
		}
	}
	& > li {
		@include flex(auto);
		text-align: center;
		padding: 3px 0;
		@include desktop {
			padding: 0 5px;
			&:nth-child(4) {
				margin-left: 250px;
			}
		}
		@include large {
			padding: 0 10px;
			&:nth-child(4) {
				margin-left: 450px;
			}
		}
		& > a {
	    white-space: nowrap;
			letter-spacing: .1em;
			@include transition(color .3s ease);
			color: $primary-color;
			.has-billboard:not(.scrolling) & {
				color: #fff;
				@include hover {
					color: $primary-color;
					text-decoration: none;
				}
			}
		}
	}
	& > .active {
		& > a {
			&, &:hover, &:focus {
				background: none;
			}
		}
	}
}

.scrolling {
	#header {
		background: #fff;
		.svg-logo {
			margin-bottom: -13%;
		}
	}
	.navbar {
		padding: 15px 0;
	}
	.navbar-nav {
		@include desktop {
			margin-top: -42px;
		}
		@include large {
			margin-top: -45px;
		}
	}
	.social-links li {
		padding: 1px 0;
		@include desktop {
			padding: 3px 0;
		}
	}
}
