.section-simple-section {
  &.has-billboard {
    padding-top: 0;
    .section-lower {
      margin-top: $section-billboard-inset;
      background: #fff;
      padding-top: 70px;
    }
  }
  &.has-image {
    @include tablet {
      .section-image {
        width: 33.3333%;
      }
      .section-content {
        width: 66.6666%;
      }
    }
    &.has-cta {
      .section-image {
        .section-ctas {
          width: 100%;
          display: none;
          padding: 0;
          margin: 20px 0;
          @include tablet {
            display: block;
          }
        }
      }
      .section-ctas {
        @include tablet {
          display: none;
        }
      }
    }
  }
  &.has-cta {
    @include tablet {
      .section-content {
        width: 66.6666%;
      }
      .section-ctas {
        width: 33.3333%;
      }
      &.narrow {
        .section-content,
        .section-ctas {
          width: 50%;
        }
      }
    }
    &.image-button-left {
      .section-content {
        float: right;
      }
    }
  }
  .section-billboard {
    min-height: 350px;
    background-size: cover;
    background-position: center center;
  }
  .section-lower {
    max-width: 1220px;
    margin: 0 auto;
  }
  .section-image,
  .section-content,
  .section-ctas {
    padding: 0 15px;
    float: left;
    display: block;
  }

  .section-content {
    @include mobile-only {
      width: 100%;
    }
  }

  .section-image,
  .section-ctas {
    width: 100%;
  }

  .section-image {
    margin: 0 0 30px;
    img {
    	max-width: 100%;
    	height: auto;
    }
  }

  .section-ctas {
    &.ctas-social {
      i {
        font-size: 30px;
        margin: -3px 10px -3px -10px;
        float: left;
        display: block;
      }
      .btn {
        text-align: left;
      }
    }
    .btn {
      display: block;
      margin: 0 0 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
}