.section {
  padding: 70px 0;
  @include desktop {
    padding: 100px 0;
  }
  @include large {
    padding: 120px 0;
  }
  &.collapse-top {
    padding-top: 0;
  }
  &.collapse-bottom {
    padding-bottom: 0;
  }
  &.font-color-white {
    color: #fff;
    a {
      color: #fff;
    }
  }
  &.has-background-image {
    @include bgcover;
  }
  &.inset-title {
    .section-title:first-child {
      margin-top: -30px;
      @include desktop {
        margin-top: -90px;
      }
      span {
        background: #fff;
        box-shadow: 20px 0 0 #fff, -20px 0 0 #fff;
      }
    }
  }
  &.border-content {
    .section-content {
      border: 2px solid $primary-color;
      padding: 15px;
      @include desktop {
        padding: 70px 130px;
      }
    }
  }
  .section-title {
    margin-bottom: 40px;
    font-size: 30px;
    text-transform: uppercase;
    @include desktop {
      margin-bottom: 40px;
      font-size: 40px;
    }
  }
  .section-content {
    .btns {
      &:last-child {
        margin: 45px 0 -92px;
      }
    }
  }
}