@keyframes loading {
	0% {
		@include transform(scale(0));
		opacity: 1;
	}
	100% {
		@include transform(scale(1));
		opacity: 0;
	}
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	margin: 1em 0 .5em;
	font-family: $heading-font-family;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .1em;
  &:first-child {
    margin-top: 0;
  }
}

// 40
// 36
// 18

h1 {
	
}

h2 {
	
}

h3 {

}

.btn {
	position: relative;
	border-radius: 0;
	border-width: 2px;
	border-style: solid;
	padding: .8em 2em .7em;
	font-family: $heading-font-family-alt;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .1em;
	outline: 0;
	&:before {
		content: '+';
		height: 30px;
		color: #fff;
		line-height: 30px;
		right: 1em;
		top: 50%;
		margin: -15px 0 0;
		position: absolute;
		opacity: 0;
		@include transition(opacity .3s ease);
	}
	@include hover {
		padding: .8em 2.5em .7em 1.5em;
		outline: 0;
		box-shadow: none;
		&:before {
			opacity: 1;
		}
	}
	&.btn-default {
		background: #fff;
		color: $primary-color;
		@include hover {
			background: $secondary-color;
			color: #fff;
		}
		&.btn-border {
			background: transparent;
			border-color: #fff;
			color: #fff;
		}
	}
	&.btn-primary {
		border: 0;
		background: $primary-color;
		@include hover {
			border: 0;
			color: #fff;
		}
		&:focus {
			outline: 0;
		}
	}
	&.btn-info {

	}
	&.btn-warning {

	}
	&.btn-danger {

	}
}

#footer-menu {
	a {

	}
}

hr {
	width: 74px;
	height: 5px;
	display: block;
	margin: 30px 0;
	border: 0;
	background: $primary-color;
	.text-center & {
		margin: 30px auto;
	}
}

strong {
	font-weight: 700;
}

.font-primary {
	color: $primary-color;
}

.font-weight-light {
	font-weight: 300;
}

.font-weight-heavy {
	font-weight: 900;
}

a {
	color: #333;
	@include hover {
		color: #000;
	}
}

em {
	font-style: italic;
}

body {
  font-size: $body-font-size;
  font-family: $body-font-family;
  color: $text-color;
  font-weight: 300;
  line-height: 1.6em;
	&:before {
		content: 'mobile';
		display: none;
	}
	@include tablet {
		&:before {
			content: 'tablet';
		}
	}
	@include desktop {
		&:before {
			content: 'desktop';
		}
	}
	@include large {
		&:before {
			content: 'large';
		}
	}
	#main-container {
		opacity: 0;
		@include transition(opacity .5s);
	}
	&.loaded {
		#main-container {
			opacity: 1;
		}
	}
	#loading {
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		i {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: block;
			background: $primary-color;
			animation-name: loading;
	    animation-duration: 2s;
	    animation-iteration-count: infinite;
		}
	}
	&.loaded {
		#loading {
			display: none;
		}
	}
}

.narrow {
	.container {
		max-width: 900px;
	}
}

@for $i from 1 through 6 {
	$percent: (100% / $i);
  .nicdao-columns.num-cols-#{$i} {
  	.col {
  		@include flex(0 0 100%);
  		@include tablet {
  			@include flex(0 0 ($percent));
  			@for $span from 1 through 6 {
  				&.col-span-#{$span} {
		  			@include flex(0 0 min($percent * $span, 100%));
  				}
  			}
  		}
  		.square {
  			margin-bottom: 30px;
  			@include tablet {
  				margin-bottom: 0;
  			}
  		}
  	}
  }
}

$gutter_widths: 30 45 60;

@each $padding in $gutter_widths {
  .nicdao-columns.gutter-width-#{$padding} {
  	.row {
  		@include desktop {
				margin-top: $padding * -1px;
  			margin-left: $padding * -1px;
  			margin-right: $padding * -1px;
  		}
  	}
  	.col {
  		@include desktop {
				padding-top: $padding * 1px;
  			padding-left: $padding * 1px;
  			padding-right: $padding * 1px;
  		}
  	}
  }
}

.row-people {
	margin-top: -30px;
	.col {
		padding-top: 30px;
	}
}

.square {
	position: relative;
	background-color: $primary-color;
	padding-bottom: 100%;
	&:before {
		content: '';
		position: absolute;
		top: 30px;
		left: 30px;
		right: 30px;
		bottom: 30px;
		border: 2px solid #fff;
		z-index: 1;
	}
	&.has-img {
		@include bgcover;
	}
	& > div {
		position: absolute;
		z-index: 2;
		height: 100%;
		width: 100%;
	}
	.square-content {
		display: none;
		position: absolute;
		left: 45px;
		right: 45px;
		top: 45px;
		bottom: 0;
		background: #fff;
		text-align: center;
		padding: 0 0 10px;
		hr {
			margin: 15px auto;
		}
		& > div {
			padding: 15px;
			height: 100%;
			overflow: hidden;
		}
	}
	& > div > div:last-child {
		position: absolute;
		width: 100%;
		bottom: 10px;
		text-align: center;
		h3 {
			background: #fff;
			display: inline-block;
			margin: 0;
		}
	}
	@include desktop {
		@include hover {
			.square-content {
				display: block;
			}
		}
	}
}

blockquote {
	&.with-background {
		@include bgcover;
		background-image: url(../0_img/bg-grasscloth.jpg);
		font-family: $heading-font-family;
		font-weight: 700;
		font-style: italic;
		font-size: 24px;
		color: $primary-color;
		text-align: center;
		padding: 30px 15px;
		@include desktop {
			padding: 40px;
		}
		@include large {
			padding: 80px;
		}
		p {
			margin: 0;
		}
	}
}

.img-wrap {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 30px;
		right: 30px;
		top: 30px;
		bottom: 30px;
		border: 2px solid #fff;
	}
}


.social-links {
	position: absolute;
	z-index: 9999;
	height: 100%;
	margin: 0;
	padding: 15px;
	font-size: 20px;
	top: 0;
	left: 0;
	@include flexbox;	
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
	@include large {
		padding: 30px;
	}
	li {
		padding: 3px 0;
		@include desktop {
			padding: 5px 0;
		}
		a {
			@include transition(color .3s ease);
			color: $primary-color;
			.has-billboard:not(.scrolling) & {
				color: #fff;
				@include hover {
					color: $primary-color;
				}
			}
		}
	}
}

