// Colors
$primary-color: #153e50;
$secondary-color: #c0b5ab;
$text-color: $primary-color;

// Typeface Styling
$body-font-size: 16px;
$body-font-family: 'Avenir', sans-serif;
$heading-font-family: 'Majesti Banner', serif;
$heading-font-family-alt: 'Novecentowide', sans-serif;

// Layout Styling
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// Section Styling
$section-billboard-inset: -100px;
