.woocommerce.sn-theme {
	.product .price {
		color: $primary-color;
	}
	button.button {
		&.alt {
			background: $primary-color;
			&:hover {
				background: darken($primary-color, 10%);
			}
		}
	}
	div.product {
		.woocommerce-tabs {
			.panel {
				padding: 20px;
			}
		}
	}
}